<div class="container-fluid info-bar">
  <div class="row">
    <div class="col">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          <% if (locals.user) { %>
            <li><a href="/users">Users</a></li>
          <% } %>
        </ul>
      </nav>
    </div>
  </div>
</div>
