<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
    <%- include('partials/header') %>

    <h1><%= title %></h1>

    <form action="/login" method="POST">
      <input name="username" type="text" placeholder="username...">
      <input name="password" type="password" placeholder="password...">
      <button type="submit">Submit</button>
    </form>

    <p><a href="register">Register</a></p>

  </body>
</html>
